<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime.PCL" version="3.5.0.3" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="OsmSharp.Core" version="1.3.5" targetFramework="portable45-net45+win8" />
  <package id="OsmSharp.UI" version="0.0.0.1113" targetFramework="portable45-net45+win8" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms.Maps" version="2.2.0.45" targetFramework="portable45-net45+win8" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>