<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime.PCL" version="3.5.0.3" targetFramework="xamarinios10" />
  <package id="OsmSharp.Core" version="1.3.5" targetFramework="xamarinios10" />
  <package id="OsmSharp.UI" version="0.0.0.1113" targetFramework="xamarinios10" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="xamarinios10" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="xamarinios10" />
</packages>